@model ShapeApp.Models.MensagensHome

@{
    ViewData["Title"] = "Details";
}

<h1>Visualizar Mensagem</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TituloMensagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TituloMensagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mensagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mensagem)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="EdicaoMensagens">Voltar</a>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
</div>
