@model ShapeApp.Models.MensagensHome

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Edite a mensagem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TituloMensagem" class="control-label"></label>
                <input asp-for="TituloMensagem" class="form-control" />
                <span asp-validation-for="TituloMensagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mensagem" class="control-label"></label>
                <input asp-for="Mensagem" class="form-control" />
                <span asp-validation-for="Mensagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <a class="btn btn-primary" asp-action="EdicaoMensagens">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
