@model ShapeApp.Models.MensagensHome;


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img width="250px" src="img/logo-shapeapp.png" alt="Logo do Shape App" />
    <br />
    <br />
    
    <p style="font-size: 20px">
        <strong><i>@Model.Mensagem</i></strong>
    </p>

    <a class="btn btn-primary" asp-action="Create">Criar novas mensagens</a>

</div>
