<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShapeApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShapeApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

            <nav class="menuNavegacao">
                  
                 <ul>

                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="" asp-action="">Meus Treinos</a></li>
                    <li><a asp-controller="" asp-action="">Cadastro de Treino</a></li>
                    <li><a asp-controller="" asp-action="">Frequência na Academia</a></li>
                    <li><a asp-controller="" asp-action="">Compartilhamento</a></li>
                    <li><a asp-controller="" asp-action="">Cadastro de<br />Usuário</a></li>
                    <li><a asp-controller="" asp-action="">Login</a></li>
                    <li><a asp-controller="" asp-action="">Perfil</a></li>

                </ul>

            </nav>

    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
