@model ShapeApp.Models.DadosCadastro

@{
    ViewData["Title"] = "Atualização de perfil";
}

<h1>Atualização de perfil</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Usuario.Id" />
            <div class="form-group">
                <label asp-for="Usuario.Nome" class="control-label"></label>
                <input asp-for="Usuario.Nome" class="form-control" />
                <span asp-validation-for="Usuario.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Senha" class="control-label"></label>
                <input asp-for="Usuario.Senha" class="form-control" />
                <span asp-validation-for="Usuario.Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Perfil" class="control-label"></label>
                <select asp-for="Usuario.Perfil" class="form-control" asp-items="Html.GetEnumSelectList<Perfil>()"></select>
                <span asp-validation-for="Usuario.Perfil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerfilShape.Idade" class="control-label"></label>
                <input asp-for="PerfilShape.Idade" class="form-control" />
                <span asp-validation-for="PerfilShape.Idade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerfilShape.Altura" class="control-label"></label>
                <input asp-for="PerfilShape.Altura" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="PerfilShape.Altura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerfilShape.Peso" class="control-label"></label>
                <input asp-for="PerfilShape.Peso" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="PerfilShape.Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerfilShape.Nivel" class="control-label"></label>
                <select asp-for="PerfilShape.Nivel" class="form-control" asp-items="Html.GetEnumSelectList<Nivel>()"></select>
                <span asp-validation-for="PerfilShape.Nivel" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
