@model ShapeApp.Models.DadosCadastro

@{
    ViewData["Title"] = "Cadastro de Usuario";
}

<h1>Cadastro de Usuario</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usuario.Nome" class="control-label"></label>
                <input asp-for="Usuario.Nome" class="form-control" placeholder="Ex: Jose da Silva" />
                <span asp-validation-for="Usuario.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Senha" class="control-label"></label>
                <input asp-for="Usuario.Senha" class="form-control"/>
                <span asp-validation-for="Usuario.Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Perfil" class="control-label"></label>
                <select asp-for="Usuario.Perfil" class="form-control" asp-items="Html.GetEnumSelectList<Perfil>()"></select>
                <span asp-validation-for="Usuario.Perfil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerfilShape.Idade" class="control-label"></label>
                <input asp-for="PerfilShape.Idade" class="form-control" placeholder="Ex: 34" />
                <span asp-validation-for="PerfilShape.Idade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerfilShape.Altura" class="control-label"></label>
                <input asp-for="PerfilShape.Altura" class="form-control" type="number" step="0.01" placeholder="Ex: 1.72" />
                <span asp-validation-for="PerfilShape.Altura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerfilShape.Peso" class="control-label"></label>
                <input asp-for="PerfilShape.Peso" class="form-control" type="number" step="0.01" placeholder="Ex: 68.4" />
                <span asp-validation-for="PerfilShape.Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerfilShape.Nivel" class="control-label"></label>
                <select asp-for="PerfilShape.Nivel" class="form-control" asp-items="Html.GetEnumSelectList<Nivel>()"></select>
                <span asp-validation-for="PerfilShape.Nivel" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-info">Voltar</a> |
                <input type="submit" value="Cadastrar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
